<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>IslandHouse | Dashboard</title>
        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
        <link rel="icon" href="img/favicon.png" />
        <link rel="stylesheet" href="css/main.css" />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="dashboard">
            <div class="dashboard__sidebar">
                <img src="img/icon_sample.svg">
                <div class="dashboard__sidebar-item active" id="home"><iconify-icon icon="uil:home-alt"></iconify-icon></div>
                <div class="dashboard__sidebar-item" id="orders"><iconify-icon icon="uil:lightbulb-alt"></iconify-icon></div>
                <div class="dashboard__sidebar-item" id="messages_side"><iconify-icon icon="uil:envelope-minus"></iconify-icon></div>
                <div class="space-h"></div>
                <div class="dashboard__sidebar-item" id="settings"><iconify-icon icon="uil:setting"></iconify-icon></div>
                <form action="/logout" method="GET">
                    <button class="dashboard__sidebar-item" type="submit" id="logout"><iconify-icon icon="uil:exit"></iconify-icon></button>
                </form>
            </div>
            <div class="dashboard__content">
                <!-- <div class="dashboard__content-header">
                    <h1 class="dashboard__content-header__title">Dashboard</h1>
                    <div class="space-w"></div>
                    <div class="dashboard__content-header__item"><iconify-icon icon="uil:bell"></iconify-icon></div>
                    <div class="dashboard__content-header__profile"><p>K</p></div>
                </div> -->
                <div class="dashboard__content-main">
                    <div class="screen__main">
                        <div class="container">
                            <h1 class="heading-quinary">Witaj, Kamil!</h1>
                            <h3 class="heading-description">Czwartek, 24 listopada</h3>
                            <div class="screen_main-messages">
                                <div class="screen_main-messages__item">
                                    <iconify-icon icon="uil:envelope-exclamation"></iconify-icon>
                                    <p>Robert Lewandowski</p>
                                    <div class="chip"><p>Dzisiaj</p></div>
                                    <div class="chip error"><p>Nieodczytane</p></div>
                                </div>
                                <div class="screen_main-messages__item">
                                    <iconify-icon icon="uil:envelope-check"></iconify-icon>
                                    <p>Katarzyna Orłowska</p>
                                    <div class="chip"><p>Wczoraj</p></div>
                                    <div class="chip success"><p>Otwarte</p></div>
                                </div>
                                <div class="screen_main-messages__item">
                                    <iconify-icon icon="uil:envelope-check"></iconify-icon>
                                    <p>Szymon Nowak</p>
                                    <div class="chip"><p>24 listopada</p></div>
                                    <div class="chip success"><p>Otwarte</p></div>
                                </div>
                                <div class="screen_main-messages__item">
                                    <iconify-icon icon="uil:envelope-check"></iconify-icon>
                                    <p>Katarzyna Orłowska</p>
                                    <div class="chip"><p>Wczoraj</p></div>
                                    <div class="chip success"><p>Otwarte</p></div>
                                </div>
                                <div class="screen_main-messages__item">
                                    <iconify-icon icon="uil:envelope-check"></iconify-icon>
                                    <p>Szymon Nowak</p>
                                    <div class="chip"><p>24 listopada</p></div>
                                    <div class="chip success"><p>Otwarte</p></div>
                                </div>
                            </div>
                            <hr>
                            <div class="screen_main-cards">
                                <div class="screen_main-cards__card">
                                    <h1 class="type">Zadanie</h1>
                                    <h1 class="content">Masz 2 nowe zadania</h1>
                                    <img src="img/card_bg.svg" class="card_bg">
                                </div>
                                <div class="screen_main-cards__card">
                                    <h1 class="type">Wiadomości</h1>
                                    <h1 class="content">Masz 4 nowe wiadomości</h1>
                                    <img src="img/card_bg.svg" class="card_bg">
                                </div>
                                <div class="screen_main-cards__card">
                                    <h1 class="type">Zamówienia</h1>
                                    <h1 class="content">Masz 23 nowe zamówienia</h1>
                                    <img src="img/card_bg.svg" class="card_bg">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="screen__messages" style="display: none;">
                        <div class="screen__messages-side">
                            <div class="screen__messages-side__search">
                                <div class="screen__messages-side__search-header">
                                    <div class="title">Wiadomości</div>
                                    <div class="icon-btn">
                                        <iconify-icon icon="uil:user-plus"></iconify-icon>
                                    </div>
                                </div>
                                <div class="input">
                                    <iconify-icon icon="uil:search-alt"></iconify-icon>
                                    <input autocomplete="off" type="text" name="name" id="search_name" placeholder="Nazwa lub nowy email"/>
                                </div>
                            </div>
                            <div class="screen__messages-side__items"></div>
                        </div>

                        <div class="screen__messages-empty">
                            <img src="img/message_samplegraphic.svg" alt="" srcset="">
                            <h1>Brak wiadomości</h1>
                            <h2>Wybierz czat aby zacząć</h2>
                        </div>

                        <div class="screen__messages-main" style="display: none;">
                            <div class="screen__messages-main__header">
                                <div class="dashboard__content-header__profile"><p id="messagebox_logo">K</p></div>
                                <div class="screen__messages-main__header-texts">
                                    <h1 id="messagebox_name">Kamil Marczak</h1>
                                    <p id="messagebox_email">Adres email</p>
                                </div>
                                <div class="space"></div>
                                <iconify-icon icon="uil:info-circle"></iconify-icon>
                            </div>
                            <div class="screen__messages-main__chat" id="messages"></div>
                            <div class="screen__messages-main__send">
                                <div class="input-chat">
                                    <input placeholder="Twoja wiadomość..." autocomplete="off" type="text" name="message" id="message">
                                    <iconify-icon icon="uil:microphone"></iconify-icon>
                                    <iconify-icon icon="uil:link-alt"></iconify-icon>
                                    <div class="hr"></div>
                                    <iconify-icon class="send_icon" icon="uil:navigator"></iconify-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dashboard__content-info">
                    <div class="dashboard__content-info__inner">
                        <div class="dashboard__content-header__profile"><p>K</p></div>
                        <h1 class="dashboard__content-info__inner-title">Kamil Marczak</h1>
                        <div class="dashboard__content-info__inner-items">
                            <div class="dashboard__content-info__inner-item">
                                <iconify-icon icon="uil:envelope-minus"></iconify-icon>
                            </div>
                            <div class="dashboard__content-info__inner-item">
                                <iconify-icon icon="uil:bell"></iconify-icon>
                            </div>
                            <div class="dashboard__content-info__inner-item">
                                <iconify-icon icon="uil:calendar-alt"></iconify-icon>
                            </div>
                        </div>
                        <h2 class="dashboard__content-info__inner-recent">Ostatnie</h2>
                        <div class="dashboard__content-info__inner-recent__items">
                            <div class="dashboard__content-info__inner-recent__item">
                                <p class="dashboard__content-info__inner-recent__item-date">Dzisiaj</p>
                                <h3>Spotkanie</h3>
                                <p class="dashboard__content-info__inner-recent__item-desc">Zapraszam wszystkich Discord 18:00</p>
                                <h5>Michał Jabczyński</h5>
                            </div>
                            <div class="dashboard__content-info__inner-recent__item">
                                <p class="dashboard__content-info__inner-recent__item-date">21 listopada 2022</p>
                                <h3>Sklep</h3>
                                <p class="dashboard__content-info__inner-recent__item-desc">Dane już wysłane na serwer</p>
                                <h5>Kamil Marczak</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
            let addedUsers = {}

            $('.dashboard__sidebar-item').click(function() {
                $('.dashboard__sidebar-item').removeClass('active');
                $(this).addClass('active');   

                var menuId = $(this).attr('id');
                if (menuId == 'home') {
                    $('.screen__messages').fadeOut('fast', function(){
                        $('.screen__main').fadeIn('fast');   
                    });
                } else if (menuId == 'messages_side') {
                    $('.screen__main').fadeOut('fast', function(){
                        $('.screen__messages').fadeIn('fast');   
                    });
                }
            })

            $('.icon-btn').click(function() {
                socket.emit('chat_message', { toEmail: $('#search_name').val(), toName: "", msg: 'Witam' });
                $('#search_name').val("");
                setTimeout(getUsers(), 1000);
            });

            var socket = io({ autoConnect: false });
            socket.auth = { email: '<%= email %>', name: '<%= name %>' };
            socket.connect();
            socket.emit('change_username', { username: '<%= name %>', email: '<%= email %>'});
            var messages = document.getElementById('messages');
            $('.send_icon').click(function(e) {
                socket.emit('chat_message', { toEmail: $('.send_icon').attr('toemail'), toName: $('.screen__messages-side__item.active').data("toname"), msg: $('#message').val() });
                $('#message').val("");
            });
            $('#message').bind("enterKey",function(e){
                socket.emit('chat_message', { toEmail: $('.send_icon').attr('toemail'), toName: $('.screen__messages-side__item.active').data("toname"), msg: $('#message').val() });
                $('#message').val("");
            });
            $('#message').keyup(function(e){
                if(e.keyCode == 13) {
                    $(this).trigger("enterKey");
                }
            });
            $('#message').on('input',function(e){
                socket.emit('typing', $('.send_icon').attr('toemail'));
            });
            var typingTimeout = null
            socket.on('typing', function(email) {
                if ($('.send_icon').attr('toemail') == email) {
                    $('#messagebox_email').text("Pisze...");
                    $('#messagebox_email').css("color", "#1eecff");
                    if (typingTimeout == null) {
                        typingTimeout = window.setTimeout(function() {
                            $('#messagebox_email').text($('.send_icon').attr('toemail'));
                            $('#messagebox_email').css("color", "#eee");
                            typingTimeout = null;
                        }, 3000);
                    }
                }
            });
            socket.on('chat_message', function(item) {
                var ownMessage = false
                if (item.fromEmail == '<%= email %>') {ownMessage = true}
                var message = item.message

                if (ownMessage || ($('.send_icon').attr('toemail') == item.fromEmail)) {
                    let firstLetter = item.fromName.charAt(0).toUpperCase();
                    var date = new Date();
                    var hours = "0" + date.getHours();
                    var minutes = "0" + date.getMinutes();
                    var formattedTime = hours.substr(-2) + ':' + minutes.substr(-2);

                    var elem = `
                        <div class="screen__messages-main__chat-item ${ownMessage ? "right" : "left"}">
                            <div class="screen__messages-main__chat-item__inner">
                                <div class="dashboard__content-header__profile"><p id="messagebox_logo">${firstLetter}</p></div>
                                <div class="screen__messages-main__chat-item__inner-texts">
                                    <div class="screen__messages-main__chat-item__inner-texts__header">
                                        <h1>${ownMessage ? "Ty" : item.fromName}</h1>
                                        <h2>${formattedTime}</h2>
                                    </div>
                                    <p>${message}</p>
                                </div>
                            </div>
                        </div>`;
                    $(elem).appendTo($('#messages'));
                    var objDiv = document.getElementById("messages");
                    objDiv.scrollTop = objDiv.scrollHeight;
                } else {
                    if (addedUsers[item.fromEmail] == true) {
                        const words = item.fromEmail.split('@');
                        $('#dot_'+words[0]).fadeIn('fast');
                    } else {
                        getUsers();
                    }
                }
            });

            function getUsers() {
                addedUsers = {}
                $.post("/messages/get-users", {
                    fromEmail: '<%= email %>'
                }, function(response) {
                    if (response.type == "success") {
                        const obj = response.data
                        $('.screen__messages-side__items').empty();
                        obj.forEach(item => {
                            let email = item.toEmail
                            let name = item.toName
                            if (email === undefined) {
                                email = item.fromEmail
                                name = item.fromName
                            }
                            if (addedUsers[email] == null) {
                                const words = email.split('@');
                                let firstLetter = name.charAt(0).toUpperCase()
                                var elm = `<div class="screen__messages-side__item" data-toemail="${email}" data-toname="${name}">
                                            <div class="dot" id="dot_${words[0]}" style="display: none;"></div>
                                            <div class="dashboard__content-header__profile"><p>${firstLetter}</p></div>
                                            <div class="screen__messages-side__item-texts">
                                                <h1 class="title">${name}</h1>
                                            
                                                <div class="chip"><p>${email}</p></div>
                                            </div>
                                        </div>`;
                                $(elm).prependTo($('.screen__messages-side__items'));
                                addedUsers[email] = true;
                            }
                        });
                    }
                });
            }
            getUsers()
            

            $(document).on('click', '.screen__messages-side__item', function(){
                $('.screen__messages-side__item').removeClass('active');
                $('.screen__messages-main').fadeOut('fast');
                $(this).addClass('active');
                let name = $(this).data('toname');
                let email = $(this).data('toemail');
                let firstLetter = name.charAt(0).toUpperCase();
                const words = email.split('@');
                $('.send_icon').attr('toemail', email);
                $('#dot_'+words[0]).fadeOut('fast');
                $('#messagebox_logo').text(firstLetter);
                $('#messagebox_name').text(name);
                $('#messagebox_email').text(email);

                $.post("/messages/get-messages", {
                    fromEmail: '<%= email %>',
                    toEmail : email
                }, function(response) {
                    if (response.type == "success") {
                        $('#messages').empty();
                        const obj = response.data
                        obj.forEach(item => {
                            var message = item.message
                            var ownMessage = false
                            if (item.fromEmail == '<%= email %>') {ownMessage = true}

                            let firstLetter = item.fromName.charAt(0).toUpperCase();

                            var date = new Date(+item.timestamp);
                            var hours = "0" + date.getHours();
                            var minutes = "0" + date.getMinutes();
                            var formattedTime = hours.substr(-2) + ':' + minutes.substr(-2);

                            var elem = `
                                <div class="screen__messages-main__chat-item ${ownMessage ? "right" : "left"}">
                                    <div class="screen__messages-main__chat-item__inner">
                                        <div class="dashboard__content-header__profile"><p id="messagebox_logo">${firstLetter}</p></div>
                                        <div class="screen__messages-main__chat-item__inner-texts">
                                            <div class="screen__messages-main__chat-item__inner-texts__header">
                                                <h1>${ownMessage ? "Ty" : item.fromName}</h1>
                                                <h2>${formattedTime}</h2>
                                            </div>
                                            <p>${message}</p>
                                        </div>
                                    </div>
                                </div>`;
                            $(elem).appendTo($('#messages'));
                        });
                        var objDiv = document.getElementById("messages");
                        $('.screen__messages-empty').fadeOut('medium', function(){
                            $('.screen__messages-main').fadeIn('medium', function(){
                                objDiv.scrollTo({
                                    top: objDiv.scrollHeight,
                                    behavior: "smooth",
                                });
                            });
                        })
                    }
                });
            });  
        </script>
    </body>
</html>